body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf5e6;
    color: #5a5a5a;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header {
    background-color: #f5deb3;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    color: #d2691e;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#verse-container {
    background-color: #fff8dc;
    border: 2px solid #f5deb3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#verse {
    font-size: 1.5em;
    color: #a0522d;
}

#verse-image {
    width: 80%; /* Adjust this value to increase/decrease size */
    max-width: 800px; /* Set a maximum width */
    height: auto;
    border-radius: 10px;
}
